
.productRightImgs{
    width: 500px;
}
.discountPercentage{
    padding: 6px 14px 6px 14px;
    border-radius: 62px;
}
.disableSize{
    opacity: 0.6;
    text-decoration: line-through;
    cursor: none;
}
.selectedSize{
    background-color: black;
    color: white;
}
.newSize{
    background-color: rgb(232, 230, 230) ;
    color: black;
}
.detailsTabsSelected,.detailsTabsSelected:hover,.detailsTabsName{
    color: teal;
    cursor: pointer;
}
